services:
  mc:
    hostname: ${HOSTNAME}
    container_name: ${HOSTNAME}
    image: itzg/minecraft-server
    environment:
      EULA: "true"
    ports:
      - "${PORT}:25565"
    volumes:
      - data:/data
    stdin_open: true
    tty: true
    restart: unless-stopped
volumes:
  data: {}
